@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form>
    <input id="username" type="text" placeholder="Nhập user" />
    <input id="password" type="text" placeholder="nhập pass"/>
    <button onclick="DangNhap()">Đăng nhập</button>
</form>
